.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.add-position-marker {
  position: absolute;
  background-color: #30db58;
}

.add-all-marker {
  position: absolute;
  background-color: #98feb0;
}

.remove-marker {
  position: absolute;
  background-color: #ffa49b;
}

.replace-marker {
  position: absolute;
  background-color: #fff78e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MarkdownPage.css */
.markdown-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #fff; /* Light background */
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: left; /* Ensure left alignment for the container */
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  color: #24292e; /* Default GitHub text color */
  background-color: #fff; /* Light background */
  text-align: left; /* Ensure left alignment for the content */ 
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

